<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a MercadoLiebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <di v class="top-header">
            <picture class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </picture>


            <div class="form">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fas fa-search"></i></div>
            </div>
            <p>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.
            </p>

            </div>

            <nav>
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <!--Fin Menu 1-->
                <ul>
                    <li>
                        <a href="#">Creá tu cuenta <i class="far fa-credit-card"></i></a>
                    </li>
                    <li>
                        <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
                <!--Fin menu 2-->
            </nav>
            <!--Fin NAV-->

            <!--Inicion menu haburguesa-->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <!--final menu haburguesa-->

    </header>
    <!--Fin header-->

    <section class="banner">
        <img src="/img/img-home-banner.jpg">
    </section>
    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <article>

                <div class="product-card">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <h3 class="description">Cafetera Moulinex</h3>
                </div>
            </article>

            <article>

                <div class="product-card">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h3 class="description">Macbook Pro 2019</h3>
                </div>
            </article>

            <article>

                <div class="product-card">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h3 class="description">Samsumg Galaxy S10</h3>
                </div>
            </article>

            <article>

                <div class="product-card">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <h3 class="description">Smart TV Samsumg 43"</h3>
                </div>
            </article>



        </section>
        <section>
            <h2>Ofertas</h2>
            <article>

                <div class="product-card">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <h3 class="description">Cafetera Moulinex</h3>
                </div>


            </article>

            <article>

                <div class="product-card">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h3 class="description">Macbook Pro 2019</h3>
                </div>

            </article>

            <article>

                <div class="product-card">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h3 class="description">Samsumg Galaxy S10</h3>
                </div>

            </article>

            <article>

                <div class="product-card">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <h3 class="description">Smart TV Samsumg 43"</h3>
                </div>

            </article>
        </section>
    </main>

    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <!--fin de la primera seccion del footer-->

        <article>
            <i class="fas fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <!--fin de la segunda seccion del footer-->
        <article>
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <!--fin de la tercera seccion del footer-->

        <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        <!--fin de la cuarta seccion del footer-->
    </footer>

</body>

</html>