/* import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Normalización*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variables*/
:root {
    /*Colores*/
    --amarillo: #eac926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro: #000;
    --blanco: #ffffff;

    /*Tamaños de Fuentes */
    --text-sm:1.2em;
    --text-md:1.6em;
    --text-lg:1.8em; 
    --title-md:2.4em;

    /*Familias de fuentes*/
    --roboto: 'Roboto', sans-serif;



}

/*Estilos comunes*/



html {
    font-size: 62.5%;
    font-family: var(--roboto);
}

body {
    background-color: var(--gris-claro);
}

h2 {
    font-size: var(--title-md);
}

p {
    font-size: var(--text-sm);
}

.flex-row{
    display: flex;
    align-items: stretch;
    gap: 10px;
}


/* Header */
header {
    background-color: var(--amarillo);
}

div.top-header {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

header picture.logo{
    display: block;
    width: 50%;
}

.form {
    width: 50%;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

header nav {
    display: none;
    font-size: var(--text-sm);
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: var(--negro);
}

header .form .input {
    background-color: var(--blanco);
    border: 1px solid var(--gris-claro);
    color:var(--gris-oscuro);
    padding: 20px;
    height: 48px;
    width: 90%;
    border-radius: 3px 0px 0px 3px;
    

}

header .form .submit {
    background-color: var(--blanco);
    border: 1px solid var(--gris-claro);
    width:10%;
    padding:0px;
    height:48px;
    
    border-radius: 0px 3px 3px 0px;
}

header div.top-header p {
    
    text-align: center;
   
    

}

header div.top-header form {
    width: 48%;
}

div.burger-menu {
    text-align: center ;
}

div.burger-menu i {
    background-color:#0044AA ;
    font-size: 20px;
    color: var(--blanco);
    height: 40px;
    width: 40px;
    margin: 10px 0 20px 0 ;
    padding: 10px;
    border-radius: 5px;
}


/*Banner*/

section.banner img {
    width: 100%;
}


/* Main */

main {
    width: 90%;
    margin: 0 auto;

}

main section article {
    background-color: var(--blanco);
    margin: 10px 0px;
    border-radius: 4px;
    transition: all 0.5s ease-out;
    
    
}

main section article:hover {
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.2);
}

main section article img{
    width: 100%;
    
}



h2, .description{
    color: var(--gris-oscuro);
}
.description{
 opacity: 0;
 margin: 0;
 transition: opacity 0.5s linear;
}
main section article:hover div.product-card h3.description{
   opacity: 1;
   margin-top: 10px;
  
}

.price{
    font-size:var(--text-lg) ;
    /* width: 30%; */
}
/* .discount{
    width: 70%;
} */
main section article i, .discount{
    color:var(--verde);
}



main section article i {
    font-size: var(--text-md);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding: 5px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--blanco);
    position:absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s ease-out;
    

    
} 

main section article:hover i{
  
    transform: rotate(-90deg);
    
}

/* main section article div.product-card h3{
    display: none;
}

main section article:hover div.product-card h3{
    display: block;
} */


main section h3{
    margin: 20px 0px;
}

main section h2{
    margin: 30px 0px;
}

article div.product-card{
    width: 100%;
    border: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
}
/*Footer*/

footer article {
    padding: 20px;
    text-align: center;
    color: var(--gris-oscuro);
}

footer p.copyrigth {
    padding: 20px;
    text-align: left;
    color: var(--gris-oscuro);
}

footer article i {
    color: #0044AA;
    font-size: 30px;
    padding: 12px;
}
footer article i:hover {
    color: #13AB09;
    
}


/*Estilos Registro*/


form.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--blanco);
    margin-top: 50px;
    padding: 30px;
    border-radius: 5px;
    

}

.titulo-formulario{
    text-align: center;
    color: #000;
}

form.formulario h2 {
    margin-bottom: 30px;
}
form.formulario input {
    height: 48px;
    padding: 13px 12px;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px 0px;
    border: 1px solid var(--gris-oscuro);
}
form.formulario input:focus {
    
    border: 1.5px solid #3483fa !important;
}




form.formulario div.profile{
    display: flex;
    flex-direction:row ;
    justify-content:space-around;
   
}
form.formulario div.profile div{
    
    display: flex;
    align-items: center;
    width: 50%;
    
}

form.formulario div.interests div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

form.formulario label {
    font-size: var(--text-md);
}
form.formulario div.interests div label, form.formulario div.profile div label{
padding: 15px;
}

form.formulario input[type=file]{
    padding: 0;
    margin: 30px 0px 0px 0px;
    border: none;
}
form.formulario input[type=submit]{
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    background-color: #3483fa;
    color: var(--blanco);
    border: none;
    padding:0px 24px;
    border-radius: 6px;
    margin: 10px 0px;
    transition: background-color 0.5s ease-in ;
    cursor: pointer;
}
form.formulario input[type=submit]:hover{
    background-color: #0022AA;
}
form.formulario input[type=reset]{
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    background-color: #AB116C;
    color: var(--blanco);
    border: none;
    padding:0px 24px;
    border-radius: 6px;
    margin: 10px 0px;
    transition: background-color 0.5s ease-in ;
    cursor: pointer;
}

form.formulario input[type=reset]:hover{
    background-color: #C20A19;
}

/*RESPONSIVE*/

@media screen and (min-width: 361px){
    
    .top-header{
        flex-wrap: wrap;
        padding: 0;
    }

    header picture.logo{
        display: block;
        width: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
        
    }
    header div form{
        display: block;
        width: 20%;
        
        
    }

    header div p{
        display: block;
        
       
    }
    .description{
        opacity: 1;
        margin-top: 10px;
    } 

    nav ul {
        display: flex;
        gap:20px;
        margin: 20px;
        justify-content: space-around;
    }
    .products-container{
        display: flex;
        gap:10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .products-container article{
        max-width: 45%;
    }

    main section article {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    } 

    .burger-menu{
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }




    /*estilos de registro en tabets*/
    main.main-form{
        display: flex;
        justify-content: center;
    }
    form.formulario {
        box-shadow:0px 0px 10px rgb(100,100,100); 
       
    }

    

    
}

@media screen and (min-width: 769px) {
    header {
        font-size: 1.2em;
    }
    header nav {
        
        padding: 0px 60px;
    }

    header div.top-header{
        padding: 2% 2%;
        justify-content: space-between;

    }

    nav ul{
        gap: 15px;
        margin: 10px;
    }

    header picture.logo{
        display: block;
        width: 15%;
        margin: 10px;
    }
    header div form{
        
        display: block;
        width: 30%;
    }

    header div p{
        display: block;
        width: 30%;
        
    }


    header ul li a {
        text-decoration: none;
        color: var(--negro);
        
    }
    
    .products-container article{
        max-width: 22%;
    }

    form.formulario {
        
        max-width: 40rem;

    }

    article{
        font-size: 1.2rem;
    }

    main section article i {
        font-size: 16px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        padding: 0px 30px;
        background-color: var(--blanco);
        margin: 50px 0px 0px 0px;

    }
    footer article{
        width: 33%;
    }

    footer article h2{
        font-size: 1.8em;
        margin-bottom: 5px;
    }
}


@media screen and (min-width: 1255px) {
    header div.top-header{
        padding: 2% 4%;
    }
   


    nav ul{
        gap: 120px;
    }

}
